---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2022 - Presente",
    title: "SEO técnico en medios",
    company: "Prensa Ibérica",
    description:
      "Actualmente trabajo como SEO Técnico en Prensa Ibérica, optimizando el rendimiento, rastreo e indexación de medios digitales de alto tráfico mediante programación, automatización e inteligencia artificial aplicada al SEO.",
  },
  {
    date: "2018 - 2022",
    title: "Consultor SEO & Director de Proyectos",
    company: "Banali Digital",
    description:
      "Diseñé y ejecuté estrategias SEO para pymes y negocios locales, combinando posicionamiento orgánico, arquitectura web y analítica para lograr resultados medibles.",
  },
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
